# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar
*.pyc

hs_err_pid*
.idea
.DS_Store

countriesMap.json
countriesDataMap.json
countriesUrlsMap.json
provinceCityData.json
provinceCityMap.json
provinceCityUrlsMap.json
world-mapping.json

package-lock.json
package.json
__pycache__

/controller/__pycache__

/target/
venv/
/web/frontend/node_modules
/web/frontend/static/json/map/china-province/mapType
/database/static/table.py