# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar
*.pyc

hs_err_pid*
.idea
.DS_Store


package-lock.json
package.json
__pycache__

/controller/__pycache__

/target/
venv/
/web/frontend/node_modules