
.title {
  margin-top: 30px;
  font-size: 45px;
  font-weight: bold;
  font-family: '楷体', serif;
  color: #409eff;
}

.image-menu-item {
  width: 350px;
  margin-left: 5px;
  margin-right: 10px;
}

.carousel {
  margin: auto;
  height: 450px;
  width: 80%;
}

.el-carousel__item {
  /*display: flex;*/
  /*padding: 5px;*/
  border:1px solid dimgrey;
  -moz-box-shadow:3px 3px 4px dimgrey;
  -webkit-box-shadow:3px 3px 4px dimgrey;
  box-shadow:3px 3px 4px dimgrey;
  background:#fff;
  filter:progid:DXImageTransform.Microsoft.Shadow(Strength=4,Direction=135,Color='#000000');
}

.el-carousel__item img {
  width: 100%;
  align-items: center;
}

.el-carousel__item:nth-child(2n) {
  background-color: #99a9bf;
}

.el-carousel__item:nth-child(2n+1) {
  background-color: #d3dce6;
}

.button {
  height: 80px;
  width: 250px;
  font-size: 30px;
  margin-top: -12px;
}
