
.title {
  margin-top: 30px;
  font-size: 45px;
  font-weight: bold;
  font-family: STCaiyun, serif;
  color: #409eff;
}

.image-menu-item {
  width: 350px;
  margin-left: 5px;
  margin-right: 10px;
}

.carousel {
  margin: auto;
  height: 450px;
  width: 80%;
}

.el-carousel__item {
  /*display: flex;*/
}

.el-carousel__item img {
  width: 100%;
  align-items: center;
}

.el-carousel__item:nth-child(2n) {
  background-color: #99a9bf;
}

.el-carousel__item:nth-child(2n+1) {
  background-color: #d3dce6;
}

.button {
  height: 80px;
  width: 250px;
  font-size: 30px
}
